@import "~bootstrap/scss/bootstrap.scss";

.trafficStick {
    margin: 0 auto;
    background-color: black;
    width: 3rem;
    height: 10rem;
}

.trafficWhole {
    margin: 0 auto;
    background-color: black;
    width: 15rem;
    height: 30rem;
}

.light {
    margin: 0 auto;
    border-radius: 50%;
    width:7rem;
    height: 7rem;
    
}
.red {
    background-color:red;
}
.yellow {
    background-color:yellow;
}

.green {
    background-color:green;
}

.activered {
    box-shadow:
        0 0 60px 10px red,  /* inner white */
        0 0 100px 20px #fff, /* middle magenta */
        0 0 140px 40px rgb(196, 132, 13); /* outer cyan */;
}

.activeyellow {
    box-shadow:
        0 0 60px 10px yellow,  /* inner white */
        0 0 100px 20px #fff, /* middle magenta */
        0 0 140px 40px rgb(204, 228, 98); /* outer cyan */
}
.activegreen {
     box-shadow:
        0 0 60px 10px green,  /* inner white */
        0 0 100px 20px #fff, /* middle magenta */
        0 0 140px 40px rgb(110, 192, 110) /* outer cyan */
}

